body {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    min-height: 100vh;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#headerLogo{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.headerGoals{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header img, header#headerLogo button{
    width: 30%;
    margin-right: 20px;
}


h2{
    color:#17c2e0;
    font-weight: bolder;
    margin: 20px;
    font-size: 1.5em;
}
h3, h5, h6{
    color:#17c2e0;
    font-weight: bolder;
    margin: 5px 20px 5px 0px;
}

body div #carouselExampleSlidesOnly{
    width: 50%;
    margin-left: 20%;
}
#board > h3, #plannerBoard > h3{
    text-align: center;
}
#board > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-button{
    display: flex;
    align-items: end;
    justify-content: center;
}
#createGoal, #createAims, #button-collapse, #deleteVisionBoard, #buttonDelete, #aboutButton,#saveGoal,#saveAim, .cardWeek button, #addAims-goalsForm, #aboutButton{
    background-color:#17c2e0;
    font-weight: 800;
    border-radius: 10px;
    border: none;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 0.8em
}
#aboutButton, #saveGoal,#saveAim{
    width: 70px;
}
#saveGoal, #saveAim, #createGoal {
    height: 39px;
}

.cardMonth {
    display: flex;
    flex-direction: column;
    background: #17c2e0;
    height: 80px;
    width: 20%;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    cursor: pointer;
}

.cardMonth:hover, .cardMonth:active{
    background-color: #148ea3;
    transition: background-color 0.3s;
}
.goalsForm{
    display: flex;
    flex-direction: column;
}
.label-category{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 80px;
    font-size: 12px;
}
.headerGoals input, #aimsForm input, #semanaTask1 input, #semanaTask2 input, #semanaTask3 input, #semanaTask4 input{
        width: 100%;
        border: none;
        border-bottom: 1px solid #ccc; 
        background: transparent; 
        outline: none; 
        padding: 8px 0; 
        color: #333;
        margin-bottom: 40px;
        padding: 10px;
    }
.label-category:hover{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(77,209,200,0.4545454545454546) 92%);
}
input.categoria, input.categoriaT {display:none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2)}
    
    
input:checked + label {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(77,209,200,0.4545454545454546) 92%);
}
.label-category img{
        width: 80%;
}
div .container-inputs{
        justify-content: center;
}
.cardWeek{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    height: fit-content;
    padding: 5px;
}
#exampleModal > div > div > div.modal-body > div.goalsForm{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
.cardTitle{
    display: flex;
    border: 0.5px solid #17c2e0 ;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 2px 20px;
}

.card-body h6 {
    margin-bottom: 0px;
    font-weight: bolder;
    font-size: 1rem;
    margin: 2px;
}
.card-body{
    padding: 5px;
}
.card-text{
    font-size: 0.8rem;
}
#board{
    padding: 20px;
    margin-bottom: 10px;
}
#sideBar{
    border-left: 0.5px solid rgb(218, 215, 215);
}

#semana1 .listTaks, #semana2 .listTaks, #semana3 .listTaks, #semana4 .listTaks{
    display: flex;
    padding-right: 4.3%;
    padding-left: 4.3%;
    
}

.listTaks li{
    color: rgb(90, 89, 89);
    flex: 1;
    flex-wrap: wrap;
}