body {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    min-height: 100vh;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

main{
    height: calc(100vh - 80px)
}

#headerLogo{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.headerGoals{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header #headerLogo img,header#headerLogo button{
    width: 30%;
    margin-right: 20px;
}


h2{
    color:#17c2e0;
    font-weight: bolder;
    margin: 20px;
    font-size: 1.5em;
}
h3, h5, h6{
    color:#17c2e0;
    font-weight: bolder;
    margin: 5px 20px 5px 0px;
}

body div #carouselExampleSlidesOnly{
    width: 50%;
    margin-left: 20%;
}
#board > h3, #plannerBoard > h3{
    text-align: center;
}

.container-button{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 20px;
}
#createGoal, #createAims, #button-collapse, #deleteVisionBoard, #buttonDelete, #aboutButton,#saveGoal,#saveAim, .cardWeek button, #addAims-goalsForm, #aboutButton{
    background-color:#17c2e0;
    font-weight: 800;
    border-radius: 10px;
    border: none;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 0.8em
}
#aboutButton, #saveGoal,#saveAim{
    width: 70px;
}
#saveGoal, #saveAim, #createGoal {
    height: 39px;
}

#board{
    min-height: 75%;
}
#months{
    min-height: 25%;
}

.cardMonth {
    display: flex;
    flex-direction: column;
    background: #17c2e0;
    width: 60px;
    height: 60px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    cursor: pointer;
}

.cardMonth:hover, .active{
    background-color: #148ea3;
    transition: background-color 0.3s;
}
.goalsForm{
    display: flex;
    flex-direction: column;
}
.label-category{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 80px;
    font-size: 12px;
}
.headerGoals input, #aimsForm input, #semanaTask1 input, #semanaTask2 input, #semanaTask3 input, #semanaTask4 input{
        width: 100%;
        border: none;
        border-bottom: 1px solid #ccc; 
        background: transparent; 
        outline: none; 
        padding: 8px 0; 
        color: #333;
        margin-bottom: 40px;
        padding: 10px;
    }
.label-category:hover{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(77,209,200,0.4545454545454546) 92%);
}
input.categoria, input.categoriaT {display:none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2)}
    
    
input:checked + label {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(77,209,200,0.4545454545454546) 92%);
}
.label-category img{
        width: 80%;
}
div .container-inputs{
        justify-content: center;
}
.cardWeek{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    height: fit-content;
    padding: 5px;
}
#exampleModal > div > div > div.modal-body > div.goalsForm{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
/* .cardTitle{
    display: flex;
    border: 0.5px solid #17c2e0 ;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 2px 20px;
}

.card-body h6 {
    margin-bottom: 0px;
    font-weight: bolder;
    font-size: 1rem;
    margin: 2px;
}
.card-body{
    padding: 5px;
}
.card-text{
    font-size: 0.8rem;
} */
#board{
    padding: 20px;
    margin-bottom: 10px;
}
#sideBar{
    border-left: 0.5px solid rgb(218, 215, 215);
}

#semana1 .listTaks, #semana2 .listTaks, #semana3 .listTaks, #semana4 .listTaks{
    display: flex;
    padding-right: 4.3%;
    padding-left: 4.3%;
}

.listTaks li{
    color: rgb(90, 89, 89);
    flex: 1;
    flex-wrap: wrap;
}

.board-template{
    display: none;
    width:fit-content ;
  position: fixed;
  top: 1%; 
  left: 22%; 
  padding: 5px;
  z-index: 1000; 
  background-color: rgba(208, 240, 237, 0.5);
  border-radius: 5px;
}

.show {
    display: flex;
    justify-content:center ;
    align-items: center;
}

.template {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
  
.template img {
    width: 7rem;
    transition: transform 0.3s ease-in-out;
}

.template img:hover {
   transform: scale(1.1);
   transition: initial;
}

/* Estilos para Templates del board */
#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(3, 1fr); /* 3 filas */
    grid-gap: 10px; /* Espacio entre elementos */
  }
  

  .boxGoals {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .boxGoals img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos template 1*/
  .template1 .box-0 {
    grid-column: 1;
    grid-row: 1; 
  }
  
  .template1 .box-1 {
    grid-column: 1;
    grid-row: 2; 
  }
  
 .template1 .box-2 {
    grid-column: 1; 
    grid-row: 3; 
  }
  
 .template1 .box-3 {
    grid-column: 2; 
    grid-row: 1 / span 3; 
  }
  
 .template1 .box-4 {
    grid-column: 3; 
    grid-row: 1 / span 2; 
  }
  
 .template1 .box-5 {
    grid-column: 3; 
    grid-row: 3; 
  }

/* Estilos para template2 */
.template2 .box-0 {
    grid-column: span 3; 
    grid-row: 1; 
  }
  
  .template2 .box-1 {
    grid-column: 1; 
    grid-row: 2 / span 2; 
  }
  
  .template2 .box-2 {
    grid-column: 2;
    grid-row: 2 / span 2 ; 
  }
  
  .template2 .box-3 {
    grid-column: 3; 
    grid-row: 2 / span 2; 
  }

.container-info-goal{
    display: none;
    
}

.boxGoals:hover .container-info-goal{
display: flex;
}

.info-goal {
    position: absolute;
    z-index: 3;
    top: 40%;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.delete-goal{
    position: absolute;
    z-index: 3;
    top: 5%;
    right: 5%;
    justify-content: center;
    align-items: center;
    text-align: justify;
    cursor: pointer;
}

.delete-goal:hover{
    background-color: #17c2e0;
    border-radius: 50%;
}

.boxGoals:hover .img-goal{
    opacity: 10%;
    transform: scale(1.02);
    transition: transform 1s ease;
}
  
  

  
